<div id="fh5co-hero" style="background-image: url(images/slide_2.jpg);">
  <div class="overlay"></div>
  <a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="ti-angle-down"></i></a>
  <!-- End fh5co-arrow -->
  <div class="container">
    <div class="col-md-12">
      <div class="fh5co-hero-wrap">
        <div class="fh5co-hero-intro">
          <h1 class="to-animate hero-animate-1">FAQs</h1>
          <h2 class="to-animate hero-animate-2">Learn more about us</h2>
          <p class="to-animate hero-animate-3"><a href="/user/new" class="btn btn-outline btn-md">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-main">
  <div class="fh5co-cards">
    <div class="container-fluid">
      <div class="row animate-box">
        <div class="col-md-12 heading text-center"><h2>Frequently Asked Questions</h2></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 animate-box">
          <panel class="fh5co-card" href="/welcome#parents"  >
            <h3>What if I blah blah?</h3>
            <div class="fh5co-card-faq-body">
              <p>If you blah blah blah, then blah blah blah blah</p>
            </div>
          </panel>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 animate-box">
          <panel class="fh5co-card" href="/welcome#parents"  >
            <h3>What if I blah blah?</h3>
            <div class="fh5co-card-faq-body">
              <p>If you blah blah blah, then blah blah blah blah</p>
            </div>
          </panel>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 animate-box">
          <panel class="fh5co-card" href="/welcome#parents"  >
            <h3>What if I blah blah?</h3>
            <div class="fh5co-card-faq-body">
              <p>If you blah blah blah, then blah blah blah blah</p>
            </div>
          </panel>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 animate-box">
          <panel class="fh5co-card" href="/welcome#parents"  >
            <h3>What if I blah blah?</h3>
            <div class="fh5co-card-faq-body">
              <p>If you blah blah blah, then blah blah blah blah</p>
            </div>
          </panel>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="animate&#45;box fh5co&#45;product&#45;2"> -->
  <!--   <div class="fh5co&#45;half img" style="background&#45;image: url(images/img_large_6.jpg);"> -->
  <!--  -->
  <!--   </div> -->
  <!--   <div class="fh5co&#45;half"> -->
  <!--     <h3>This is Symbol</h3> -->
  <!--     <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single&#45;origin coffee nulla assumenda shoreditch et. </p> -->
  <!--     <p><a href="#" class="btn btn&#45;outline btn&#45;md">Get Started</a></p> -->
  <!--   </div> -->
  <!-- </div> -->

  <div id="pricing">
    <div class="container">
      <div class="row">
        <%= render 'pricing' %>
      </div>
    </div>
  </div>
</div>
