<div id="fh5co-hero" style="background-image: url(images/slide_2.jpg);">
  <div class="overlay"></div>
  <a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="ti-angle-down"></i></a>
  <!-- End fh5co-arrow -->
  <div class="container">
    <div class="col-md-12">
      <div class="fh5co-hero-wrap">
        <div class="fh5co-hero-intro">
          <h1 class="to-animate hero-animate-1">Terms</h1>
          <h2 class="to-animate hero-animate-2">SitterBot is committed to providing the best service with security and privacy.</h2>
          <p class="to-animate hero-animate-3"><a href="/user/new" class="btn btn-outline btn-md">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-main">
  <div class="fh5co-cards">
    <div class="container-fluid">
      <div class="row animate-box">
        <div class="col-md-12 heading text-center"><h2>Terms of Service</h2></div>


<h3>
  1. Terms
</h3>

<p>
  By accessing this web site, you are agreeing to be bound by these 
  web site Terms and Conditions of Use, all applicable laws and regulations, 
  and agree that you are responsible for compliance with any applicable local 
  laws. If you do not agree with any of these terms, you are prohibited from 
  using or accessing this site. The materials contained in this web site are 
  protected by applicable copyright and trade mark law.
</p>

<h3>
  2. Use License
</h3>

<ol type="a">
  <li>
    Permission is granted to temporarily download one copy of the materials 
    (information or software) on SitterBot's web site for personal, 
    non-commercial transitory viewing only. This is the grant of a license, 
    not a transfer of title, and under this license you may not:
    
    <ol type="i">
      <li>modify or copy the materials;</li>
      <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
      <li>attempt to decompile or reverse engineer any software contained on SitterBot's web site;</li>
      <li>remove any copyright or other proprietary notations from the materials; or</li>
      <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
    </ol>
  </li>
  <li>
    This license shall automatically terminate if you violate any of these restrictions and may be terminated by SitterBot at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
  </li>
</ol>

<h3>
  3. Disclaimer
</h3>

<ol type="a">
  <li>
    The materials on SitterBot's web site are provided "as is". SitterBot makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, SitterBot does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
  </li>
</ol>

<h3>
  4. Limitations
</h3>

<p>
  In no event shall SitterBot or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on SitterBot's Internet site, even if SitterBot or a SitterBot authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
      
<h3>
  5. Revisions and Errata
</h3>

<p>
  The materials appearing on SitterBot's web site could include technical, typographical, or photographic errors. SitterBot does not warrant that any of the materials on its web site are accurate, complete, or current. SitterBot may make changes to the materials contained on its web site at any time without notice. SitterBot does not, however, make any commitment to update the materials.
</p>

<h3>
  6. Links
</h3>

<p>
  SitterBot has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by SitterBot of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
  7. Site Terms of Use Modifications
</h3>

<p>
  SitterBot may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>

<h3>
  8. Governing Law
</h3>

<p>
  Any claim relating to SitterBot's web site shall be governed by the laws of the State of Nevada without regard to its conflict of law provisions.
</p>

<p>
  General Terms and Conditions applicable to Use of a Web Site.
</p>



<h2>
  Privacy Policy
</h2>

<p>
  Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
</p>

<ul>
  <li>
    Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
  </li>
  <li>
    We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.   
  </li>
  <li>
    We will only retain personal information as long as necessary for the fulfillment of those purposes. 
  </li>
  <li>
    We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
  </li>
  <li>
    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
  </li>
  <li>
    We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
  </li>
  <li>
    We will make readily available to customers information about our policies and practices relating to the management of personal information. 
  </li>
</ul>

<p>
  We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
</p>    

      
      </div>

    </div>
  </div>

  <!-- <div class="animate&#45;box fh5co&#45;product&#45;2"> -->
  <!--   <div class="fh5co&#45;half img" style="background&#45;image: url(images/img_large_6.jpg);"> -->
  <!--  -->
  <!--   </div> -->
  <!--   <div class="fh5co&#45;half"> -->
  <!--     <h3>This is Symbol</h3> -->
  <!--     <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single&#45;origin coffee nulla assumenda shoreditch et. </p> -->
  <!--     <p><a href="#" class="btn btn&#45;outline btn&#45;md">Get Started</a></p> -->
  <!--   </div> -->
  <!-- </div> -->

  <div id="pricing">
    <div class="container">
      <div class="row">
        <%= render 'pricing' %>
      </div>
    </div>
  </div>
</div>
