<article class="content dashboard-page">
  <div class="title-block">
    <h3 class="title">
      <%= @kid.nickname %>
      <p class="title-description">
        <a href="<%= edit_kid_path(@kid) %>" class="btn btn-sm btn-primary-outline">
          Edit
        </a>
      </p>
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>

  <section class="section">
    <div class="row sameheight-container">
      <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
        <div class="card sameheight-item stats" data-exclude="xs" style="height: 322px;">
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
        <div class="card sameheight-item stats" data-exclude="xs" style="height: 322px;">
        </div>
      </div>
    </div>
  </section>
</article>
