<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Edit <%= @event.name %> <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%= render partial: 'form', locals: { event: @event } %>
</article>
