<footer class="footer">
  <div class="footer-block author">
    <ul>
      <li> Made with <i class="text-danger fa fa-heart"></i> in Reno at Startup Weekend! </li>
      <li> By CJ, Nolan, Shaurav, Rob, Sandy </li>
    </ul>
  </div>
</footer>
